<h1>Clubs</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Club</th>
			<th>Example</th>
		</tr>
	</thead>
	<tbody>
		<% @clubs.each do |club| %>
			<tr>
				<td>
					<%= image_tag club.logo.url(:thumb), :style => 'margin-right: 5px; width: 18px;' %>
					<%= link_to club.name, edit_club_path(club) %>
				</td>
				<td><%= club.example %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New Club', new_club_path, :class => 'btn btn-primary' %>