<div class="text-center">
	<h3>Can't Find A Card?</h3>
	<p>Send us a photo of the barcode on your Club Card and we'll add it for you!</p>
	<form class="form" role="form">
		<div class="input-file">
			<input type="file" style="display: inline-block; margin-bottom: 15px;"><br>
		</div>
		<button class="btn btn-default">Send</button>
	</form>
</div>