<div id="shuffle" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

				<div>
					<img id="shuffle-barcode">
					<p id="shuffle-number"></p>
				</div>

				<button type="button" id="shuffle-bad" class="btn btn-link btn-lg pull-left" data-id="0"><i class="glyphicon glyphicon-thumbs-down"></i></button>
				<button type="button" id="shuffle-good" class="btn btn-link btn-lg pull-right" data-id="0" data-dismiss="modal"><i class="glyphicon glyphicon-thumbs-up"></i></button>

			</div>
		</div>
	</div>
</div>