/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *=	require bootstrap
 *= require_self
 *= require_tree .
 */

h1{
	text-shadow: 0 5px 10px rgba(0,0,0,0.125);
}
.lead{
	font-style: italic;
}

.btn-circle{
	border-radius: 50%;
	text-align: center;
}
.jumbotron{
	background-image: radial-gradient(#63A073, #29602f);
	color: #fff;
	text-align: center;
}
.modal-dialog{
	height: 100%;
	margin: 0;
	width: 100%;
}
	.modal-content{
		background-color: rgba(255,255,255,0.95);
		border: none;
		border-radius: 0;
		height: 100%;
	}
		.modal-body{
			margin: 0 auto;
			max-width: 360px;
			position: relative;
			top: 50%;
		}
.pick-club{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
	display: block;
	overflow: hidden;
}
.pick-panel:hover{
    border-color: #428bca;
}

#search-clear{
	color: #ccc;
	display: none;
}

#shuffle-barcode{
	height: auto;
	width: 100%;
}
#shuffle-number{
	font-size: 32px;
	text-align: center;
}

footer{
	border-top: solid 1px #ddd;
	color: #ddd;
	margin-top: 60px;
	padding: 60px 0;
}
	footer a, footer a:hover{
		color: #ddd;
	}